
  .navbar {
	margin-bottom: 0;
	background-color: #f4511e;
	
	border: 0;
	
	
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
  }
  .navbar li{
   display: flex;
   justify-content: center;
   align-items: center;


  }
  .navbar li a, .navbar .navbar-brand {
	color: #fff !important;
	margin: 10px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
	color: #fffefd !important;
	background-color: #000000 !important;
  }
  .navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
  }
  
 
  