* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  margin-bottom: 0;
  background-color: #031b3b;
  border: 0;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  height: 80px;
}
.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
  margin: 10px;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: black !important;
  background-color: white !important;
  border-radius: 5px !important;
  padding: 5px;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
/* .infoContainer {
  background-color: rgb(40, 42, 53);
  color: white;
  width: 40%;
  margin: 7rem auto 0px;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
} */

/* .passorfail {
  background-color: rgb(14, 122, 13);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 5px;
} */
.tablehead {
  background-color: rgb(32, 40, 50);
  color: white;
  align-items: center;
}

#resulttable {
  margin: 7rem auto 0px;
  width: 80%;
  margin-top: 5rem;
  display: none;
  border: 20px solid;
}

th,
td {
  padding: 8px !important;
  border: 3px solid #ddd !important;
  text-align: center !important;
}
.button1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
#submit {
  padding: 3px;
  background-image: linear-gradient(white, rgb(54, 47, 75));
  box-shadow: 1px 1px 3px 1px;
  border-radius: 5px;
  color: white;
}
#submit:hover {
  background-image: linear-gradient(rgb(54, 47, 75), white);
  color: white;
}
footer {
  position: relative;
  top: 10rem;
}
