* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #2e5271;
}

.nav-link {
  color: white;
}
.navbar .nav-link:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
/* .infoContainer {
  background-color: rgb(40, 42, 53);
  color: white;
  width: 40%;
  margin: 7rem auto 0px;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
} */

/* .passorfail {
  background-color: rgb(14, 122, 13);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 5px;
} */
.tablehead {
  background-color: rgb(32, 40, 50);
  color: white;
  align-items: center;
}

.resulttable {
  margin: 7rem auto 0px;
  width: 80%;
  margin-top: 5rem;
  display: none;
}

th,
td {
  padding: 8px !important;
  border: 3px solid #ddd !important;
  text-align: center !important;
}
.button1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
#submit {
  padding: 3px;
  background-image: linear-gradient(white, rgb(54, 47, 75));
  box-shadow: 1px 1px 3px 1px;
  border-radius: 5px;
  color: white;
}
#submit:hover {
  background-image: linear-gradient(rgb(54, 47, 75), white);
  color: white;
}
